
ul{	
  overflow: hidden;
  background-color: #333;
  padding-inline-start: 0px;
}
li{
	display: inline;
	font-size: 20px;
	color:white;
	padding:10px;
}

input[type="submit"]{
	background:transparent;
	border: none;
	font-size:20px;
	color:white;
	 border-radius:15px;
    cursor: pointer;
}
.left{
	float: left;
	border-right:1px solid #bbb;
}
#center{
	border:none;
	align-self: center;
}


table{
    background: #333;
    color:white;
}